h1{
    text-align: center;
}


/* 画像表示系 */
#imageBoxes{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.imageBox{
    width: 22%;
    height: 22%;
    
    margin: 1% 1.5% 1% 1%;
    border:solid 3px black;
}

input[type="radio"]:checked + label{
    border:solid 3px orange;
}

.savedImg{
    max-width: 98%;
    max-height: 98%;
    margin: 1% 1% 0 1%;

    text-align: center;
}

.imageTitle{
    text-align: center;
    word-break:break-word;
}
/* 画像表示系 */


/* ボタン系 */
.buttons{
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn:hover{
    opacity: 0.6;
}
/* ボタン系 */


/* ファイル追加系 */
#open_file{
    display: inline-block;
    height: 25%;
    margin: 0% 0% 0% 0% ;
}

#add_button{
    display: inline-block;
    margin: 0% 0% 0% 0% ;
    background-color: rgb(92, 208, 253);
    border-radius: 10px;
    border-color: rgb(67, 67, 67);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
#add_button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: black;
}

#add_image{
    display: inline-block;
    margin: 0% 0% 0% 0% ;
    background-color: rgb(92, 208, 253);
    border: 1px solid rgb(67, 67, 67);
    color: white;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}
/* ファイル追加系 */


/* 決定ボタン系 */
#decide_image{
    display: inline-block;
    width: 7%;
    height: 25%;
    margin: 0% 1.5% 0% 0% ;
    
}
#decide_button{
    display: inline-block;
    width: 100%;
    background-color: rgb(92, 208, 253);
    border-radius: 10px;
    border-color: rgb(67, 67, 67);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}
#decide_button:disabled{
    border: 1px solid #999999;
    background-color: #cccccc;
    color: black;
}
/* 決定ボタン系 */