#imageBoxes{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.imageBox{
    width: 23%;
    height: 25%;
    
    margin: 1% auto 1% 0.5%;
    border:solid 3px black;
}

.savedImg{
    max-width: 98%;
    max-height: 98%;
    margin: 1% 1% 0 1%;

    text-align: center;
}

.imageTitle{
    text-align: center;
    word-break:break-word;
}


input[type="radio"]:checked + label{
    border:solid 3px orange;
}
