<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/gameplay.css">
    <title>ゲームプレイ画面</title>
</head>
<body>
    <div class="puzzle">
        <div class="puzzle-dis">
            <div class="puzzle-dis1">
                ここでパズル作業
            </div>
            <div class="puzzle-dis2">
                <div class="puzzle-dis2-sub1">
                    ここにタイム
                </div>
                <div class="puzzle-dis2-sub2">
                    <img src="{{ file['url'] }}" alt="{{ file['filename'] }}" class="complete-image">
                </div>
            </div>
        </div>
        <div class = "puzzle-pos">
            ここにパズルをばら撒く
        </div>
    </div>
</body>
</html>