<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/game-clear.css">
    <title>ゲーム終了画面</title>
</head>
<body>
    <div class = "game-result">
        <p style="color: red;">Congratulations!</p>
        <div class="display-puzzle">
            <img src="../static/images/process/{{ img_Name }}" alt="完成" width="400px" height="300px">
        </div>
    </div>
    <div class="btn-pos">
        <form id="score" name="scoredata" method="POST" action="/gameEnd">
            <input type="hidden" id="img_Name" name="img_Name" value="{{ img_Name }}" >
            <button class="score-btn">スコア表示画面</button>
        </form>
    </div>
</body>
</html>