<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/image-preview.css">
    <title>難易度選択</title>
    <script type="text/javascript">
      (function(){
        function image_class(){
          var img = document.getElementById('image01');
          
          if(img.width < img.height){
            img.className += 'vertically_long';
            img.parentNode.className += '_vertically_long_outer';
          }else if(img.width > img.height){
            img.className += ' horizontally_long';
            img.parentNode.className += '_horizontally_long_outer';
          }else{
            img.className += ' square';
            img.parentNode.className += ' square_outer';
          }

          const img_Name =  document.getElementById("imgName");
          document.getElementById('send-image').value = "normal_" + img_Name.innerHTML
        }

        if(window.addEventListener){
          window.addEventListener('load', image_class, false);
        }
        else if(window.attachEvent){
          window.attachEvent('onload', image_class);
        }
      })();

      function LinkClick(param) {
        
        var elem = document.getElementById("image01");
        // var x = {{img_Name|tojson}};
        const img_Name =  document.getElementById("imgName");
        console.log(img_Name.innerHTML)
        switch (param) {
          case 0:
            //elem.src = "../static/images/process/gray_sample.png"
            elem.src = "../static/images/process/gray_" + img_Name.innerHTML;
            document.getElementById("send-image").value="gray_" + img_Name.innerHTML;
            break;
          case 1:
            //elem.src = "../static/images/process/mosaic_sample.png"
            elem.src = "../static/images/process/mosaic_" + img_Name.innerHTML;
            document.getElementById("send-image").value="mosaic_" + img_Name.innerHTML;
            break;
          case 2:
            //elem.src = "../static/images/process/inversion_sample.png"
            elem.src = "../static/images/process/inversion_" + img_Name.innerHTML;
            document.getElementById("send-image").value="inversion_" + img_Name.innerHTML;
            break;
          case 3:
            //elem.src = "../static/images/process/inversion_sample.png"
            elem.src = "../static/images/process/normal_" + img_Name.innerHTML;
            document.getElementById("send-image").value="normal_" + img_Name.innerHTML;
            break;
        }
      }
    </script>
    <script src="{{url_for('static', filename='create.js')}}"></script>
  </head>
  <body>
    <main>
      <div id="imgName" style="display: none;">{{img_Name}}</div>
      <!-- ブラウザバック処理
      <button onclick="javascript:window.history.back(-1);return false;">戻る</button> -->
      <!-- 画像選択画面に戻る処理 -->
      <div class="return">
        <button id="back_selectImg" onclick="location.href='./select'">画像選択に戻る</button>
      </div>
      <h1>難易度選択</h1>
      <div class="image">
        <div class="background">
          <img id = "image01" src="{{ url_for('static', filename=img_Path)}}">
        </div>
      </div>
      <div class="buttons">
        <button id="grayscale" onclick="LinkClick(0);Oncpuz()">グレースケール</button>
        <button id="mosaic" onclick="LinkClick(1);Oncpuz()">モザイク</button>
        <button id="inversion" onclick="LinkClick(2);Oncpuz()">色反転</button>
        <button id="normal" onclick="LinkClick(3);Oncpuz()">無加工</button>
      </div>
      <div class="startbutton">
        <form id="create" name="cpuzzle" method="POST" action="/game-play">
          <text>縦 x 横</text>
          <select id="rowcol" name="rowcol" onchange="Oncpuz()">
              <option value="" selected disabled>選択してください</option>
              <option value=2> 2 x 2 </option>
              <option value=3> 3 x 3 </option>
              <option value=4> 4 x 4 </option>
              <option value=5> 5 x 5 </option>
          </select>
          <button id="create_puzzle" disabled='true'>ゲームスタート</button>
          <input type="hidden" id="send-image" name="img_Name" value="" >
          
        </form>
      </div>
      
    </main>
    <footer style="background-color: blanchedalmond;">
      <h1 style="text-align: left; text-align: center;">スコアの計算</h1>
      <h2 style="text-align: center;">100 × ピースの数 × 画像加工ごとの倍率 - 経過時間</h2>
      <br>
      <div style="font-size: 15px;font-weight: bold; padding-left: 2%;">
        <p style="margin: 0px;">※ 画像加工の倍率は以下の順で大きい</p>
        <p style="margin: 0px;">モザイク > グレースケール > 色反転 > 無加工</p>
      </div>
    </footer>
  </body>
</html>