<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/selected_Img.css">
  <title>画像選択</title>
</head>
<body>
  <main>
    <h2>画像を選択</h2>
        <div id="imageBoxes">
            {% for image in image_List %}
            <div class="imageBox">
                <img src = "{{ url_for('static', filename=image['url'])}}" class="savedImg" >
                <p class="imageTitle">{{ image["filename"] }}</p>
            </div>
            {% endfor %}
        </div>
  </main>
</body>
</html>