<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>画像選択</title>
</head>
<body>
  <main>
    <h2>画像を選択</h2>
        <div>
            {% for image in image_List %}
            <div style="max-width: 20%;max-height: 20%;">
                <img src = "{{ url_for('static', filename=image['url'])}}" style="width: 100%;height: 100%;text-align: center;">
                <p style="text-align: center;">{{ image["filename"] }}</p>
            </div>
            {% endfor %}
        </div>
  </main>
</body>
</html>