<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/drag-and-drop.css">
    <script defer src="{{ url_for('static', filename='dadtest.js') }}"></script>
    <script defer src="{{ url_for('static', filename='puzzle-check.js') }}"></script>
    <title>test画面</title>
</head>
<body>
    <div class="puzzle">
        <div class="puzzle-dis">
            <div class="puzzle-dis1">
                <canvas style="border: 4px solid rgb(115, 255, 155); width: 400px; height:300px; top: 50px">
                    
                </canvas>
            </div>
            <div class="puzzle-dis2">
                <div class="puzzle-dis2-sub1">
                    ここにタイム
                </div>
                <div class="puzzle-dis2-sub2">
                    <img  src="{{ file['url'] }}" alt="{{ file['filename'] }}" width="400px" height="300px" style="margin: 0%;">
                </div>
            </div>
        </div>
        <div class = "puzzle-pos" style="height: 250px;">
            
            {% for data in target_files %}
            <div class="block" >
                <img class="temp" width="100px" height="100px" src="{{ data['url'] }}" id="{{ data['id'] }}" alt="{{ data['filename'] }}">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>