<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>テストトップページ</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='janken.css') }}"> -->
</head>
<body>
  <main>
    <form action="/select">
        <!-- これを押したらformのactionが動く -->
        <p style="text-align: center;margin: 15%;font-size: 30px;">テストトップページ</p>
        <div style="text-align: center;margin: 10% 0% 0% 0%;">
          <button type="submit" style="height: 100px;width: 30%;font-size: 20px;">ゲーム開始</button> 
        </div>
    </form>
  </main>
</body>
</html>